<h3>Buttons</h3>

<div class="row">
    <div class="col">
        <p class="mb-1"><small>Default state</small></p>
        <button class="w-100">Click the button</button>
    </div>
    <div class="col">
        <p class="mb-1"><small>Hover state</small></p>
        <button class="w-100 hover">Click the button</button>
    </div>
    <div class="col">
        <p class="mb-1"><small>Disabled state</small></p>
        <button class="w-100 disabled" disabled>Click the button</button>
    </div>
</div>