<h3>Colors</h3>

<div class="color-swatches">
    <div class="color-item">
        <h6>Accent</h6>
        <figure class="bg-accent">
            <p class="text-white">#2AAB7B</p>
        </figure>
    </div>
    <div class="color-item">
        <h6>Dark</h6>
        <figure class="bg-dark">
            <p class="text-white">#17100F</p>
        </figure>
    </div>
    <div class="color-item">
        <h6>Light</h6>
        <figure class="bg-light">
            <p>#F6F5F5</p>
        </figure>
    </div>
    <div class="color-item">
        <h6>White</h6>
        <figure class="bg-white" style="box-shadow: inset 0px 0px 0 1px rgba(0,0,0,0.15)">
            <p>#FFFFFF</p>
        </figure>
    </div>
</div>