<h3>Colors</h3>

<div class="color-swatches">
    <div class="color-item">
        <p class="mb-1"><small>Accent</small></p>
        <figure class="bg-accent">
            <p class="text-white">#2AAB7B</p>
        </figure>
    </div>
    <div class="color-item">
        <p class="mb-1"><small>Dark</small></p>
        <figure class="bg-dark">
            <p class="text-white">#17100F</p>
        </figure>
    </div>
    <div class="color-item">
        <p class="mb-1"><small>Light</small></p>
        <figure class="bg-light">
            <p>#EDEBEB</p>
        </figure>
    </div>
    <div class="color-item">
        <p class="mb-1"><small>White</small></p>
        <figure class="bg-white" style="box-shadow: inset 0px 0px 0 1px rgba(0,0,0,0.15)">
            <p>#FFFFFF</p>
        </figure>
    </div>
</div>