<h3>Gallery</h3>

<h6>Step between the images</h6>
<div class="gallery">
	<img class="allow-lightbox" src="https://picsum.photos/600/400">
	<img class="allow-lightbox" src="https://picsum.photos/599/800">
	<img class="allow-lightbox" src="https://picsum.photos/598/350">
	<img class="allow-lightbox" src="https://picsum.photos/597/600">
	<img class="allow-lightbox" src="https://picsum.photos/596/591">
	<img class="allow-lightbox" src="https://picsum.photos/1095/950">
	<img class="allow-lightbox" src="https://picsum.photos/900/870">
</div>