<h3>Icons</h3>

<ul class="icons-list">
  <li>
    <i class="feather-activity"></i>
    <div>feather-activity</div>
  </li>

  <li>
    <i class="feather-airplay"></i>
    <div>feather-airplay</div>
  </li>

  <li>
    <i class="feather-alert-circle"></i>
    <div>feather-alert-circle</div>
  </li>

  <li>
    <i class="feather-alert-octagon"></i>
    <div>feather-alert-octagon</div>
  </li>

  <li>
    <i class="feather-alert-triangle"></i>
    <div>feather-alert-triangle</div>
  </li>

  <li>
    <i class="feather-align-center"></i>
    <div>feather-align-center</div>
  </li>

  <li>
    <i class="feather-align-justify"></i>
    <div>feather-align-justify</div>
  </li>

  <li>
    <i class="feather-align-left"></i>
    <div>feather-align-left</div>
  </li>

  <li>
    <i class="feather-align-right"></i>
    <div>feather-align-right</div>
  </li>

  <li>
    <i class="feather-anchor"></i>
    <div>feather-anchor</div>
  </li>

  <li>
    <i class="feather-aperture"></i>
    <div>feather-aperture</div>
  </li>

  <li>
    <i class="feather-archive"></i>
    <div>feather-archive</div>
  </li>

  <li>
    <i class="feather-arrow-down"></i>
    <div>feather-arrow-down</div>
  </li>

  <li>
    <i class="feather-arrow-down-circle"></i>
    <div>feather-arrow-down-circle</div>
  </li>

  <li>
    <i class="feather-arrow-down-left"></i>
    <div>feather-arrow-down-left</div>
  </li>

  <li>
    <i class="feather-arrow-down-right"></i>
    <div>feather-arrow-down-right</div>
  </li>

  <li>
    <i class="feather-arrow-left"></i>
    <div>feather-arrow-left</div>
  </li>

  <li>
    <i class="feather-arrow-left-circle"></i>
    <div>feather-arrow-left-circle</div>
  </li>

  <li>
    <i class="feather-arrow-right"></i>
    <div>feather-arrow-right</div>
  </li>

  <li>
    <i class="feather-arrow-right-circle"></i>
    <div>feather-arrow-right-circle</div>
  </li>

  <li>
    <i class="feather-arrow-up"></i>
    <div>feather-arrow-up</div>
  </li>

  <li>
    <i class="feather-arrow-up-circle"></i>
    <div>feather-arrow-up-circle</div>
  </li>

  <li>
    <i class="feather-arrow-up-left"></i>
    <div>feather-arrow-up-left</div>
  </li>

  <li>
    <i class="feather-arrow-up-right"></i>
    <div>feather-arrow-up-right</div>
  </li>

  <li>
    <i class="feather-at-sign"></i>
    <div>feather-at-sign</div>
  </li>

  <li>
    <i class="feather-award"></i>
    <div>feather-award</div>
  </li>

  <li>
    <i class="feather-bar-chart"></i>
    <div>feather-bar-chart</div>
  </li>

  <li>
    <i class="feather-bar-chart-2"></i>
    <div>feather-bar-chart-2</div>
  </li>

  <li>
    <i class="feather-battery"></i>
    <div>feather-battery</div>
  </li>

  <li>
    <i class="feather-battery-charging"></i>
    <div>feather-battery-charging</div>
  </li>

  <li>
    <i class="feather-bell"></i>
    <div>feather-bell</div>
  </li>

  <li>
    <i class="feather-bell-off"></i>
    <div>feather-bell-off</div>
  </li>

  <li>
    <i class="feather-bluetooth"></i>
    <div>feather-bluetooth</div>
  </li>

  <li>
    <i class="feather-bold"></i>
    <div>feather-bold</div>
  </li>

  <li>
    <i class="feather-book"></i>
    <div>feather-book</div>
  </li>

  <li>
    <i class="feather-book-open"></i>
    <div>feather-book-open</div>
  </li>

  <li>
    <i class="feather-bookmark"></i>
    <div>feather-bookmark</div>
  </li>

  <li>
    <i class="feather-box"></i>
    <div>feather-box</div>
  </li>

  <li>
    <i class="feather-briefcase"></i>
    <div>feather-briefcase</div>
  </li>

  <li>
    <i class="feather-calendar"></i>
    <div>feather-calendar</div>
  </li>

  <li>
    <i class="feather-camera"></i>
    <div>feather-camera</div>
  </li>

  <li>
    <i class="feather-camera-off"></i>
    <div>feather-camera-off</div>
  </li>

  <li>
    <i class="feather-cast"></i>
    <div>feather-cast</div>
  </li>

  <li>
    <i class="feather-check"></i>
    <div>feather-check</div>
  </li>

  <li>
    <i class="feather-check-circle"></i>
    <div>feather-check-circle</div>
  </li>

  <li>
    <i class="feather-check-square"></i>
    <div>feather-check-square</div>
  </li>

  <li>
    <i class="feather-chevron-down"></i>
    <div>feather-chevron-down</div>
  </li>

  <li>
    <i class="feather-chevron-left"></i>
    <div>feather-chevron-left</div>
  </li>

  <li>
    <i class="feather-chevron-right"></i>
    <div>feather-chevron-right</div>
  </li>

  <li>
    <i class="feather-chevron-up"></i>
    <div>feather-chevron-up</div>
  </li>

  <li>
    <i class="feather-chevrons-down"></i>
    <div>feather-chevrons-down</div>
  </li>

  <li>
    <i class="feather-chevrons-left"></i>
    <div>feather-chevrons-left</div>
  </li>

  <li>
    <i class="feather-chevrons-right"></i>
    <div>feather-chevrons-right</div>
  </li>

  <li>
    <i class="feather-chevrons-up"></i>
    <div>feather-chevrons-up</div>
  </li>

  <li>
    <i class="feather-chrome"></i>
    <div>feather-chrome</div>
  </li>

  <li>
    <i class="feather-circle"></i>
    <div>feather-circle</div>
  </li>

  <li>
    <i class="feather-clipboard"></i>
    <div>feather-clipboard</div>
  </li>

  <li>
    <i class="feather-clock"></i>
    <div>feather-clock</div>
  </li>

  <li>
    <i class="feather-cloud"></i>
    <div>feather-cloud</div>
  </li>

  <li>
    <i class="feather-cloud-drizzle"></i>
    <div>feather-cloud-drizzle</div>
  </li>

  <li>
    <i class="feather-cloud-lightning"></i>
    <div>feather-cloud-lightning</div>
  </li>

  <li>
    <i class="feather-cloud-off"></i>
    <div>feather-cloud-off</div>
  </li>

  <li>
    <i class="feather-cloud-rain"></i>
    <div>feather-cloud-rain</div>
  </li>

  <li>
    <i class="feather-cloud-snow"></i>
    <div>feather-cloud-snow</div>
  </li>

  <li>
    <i class="feather-code"></i>
    <div>feather-code</div>
  </li>

  <li>
    <i class="feather-codepen"></i>
    <div>feather-codepen</div>
  </li>

  <li>
    <i class="feather-command"></i>
    <div>feather-command</div>
  </li>

  <li>
    <i class="feather-compass"></i>
    <div>feather-compass</div>
  </li>

  <li>
    <i class="feather-copy"></i>
    <div>feather-copy</div>
  </li>

  <li>
    <i class="feather-corner-down-left"></i>
    <div>feather-corner-down-left</div>
  </li>

  <li>
    <i class="feather-corner-down-right"></i>
    <div>feather-corner-down-right</div>
  </li>

  <li>
    <i class="feather-corner-left-down"></i>
    <div>feather-corner-left-down</div>
  </li>

  <li>
    <i class="feather-corner-left-up"></i>
    <div>feather-corner-left-up</div>
  </li>

  <li>
    <i class="feather-corner-right-down"></i>
    <div>feather-corner-right-down</div>
  </li>

  <li>
    <i class="feather-corner-right-up"></i>
    <div>feather-corner-right-up</div>
  </li>

  <li>
    <i class="feather-corner-up-left"></i>
    <div>feather-corner-up-left</div>
  </li>

  <li>
    <i class="feather-corner-up-right"></i>
    <div>feather-corner-up-right</div>
  </li>

  <li>
    <i class="feather-cpu"></i>
    <div>feather-cpu</div>
  </li>

  <li>
    <i class="feather-credit-card"></i>
    <div>feather-credit-card</div>
  </li>

  <li>
    <i class="feather-crop"></i>
    <div>feather-crop</div>
  </li>

  <li>
    <i class="feather-crosshair"></i>
    <div>feather-crosshair</div>
  </li>

  <li>
    <i class="feather-database"></i>
    <div>feather-database</div>
  </li>

  <li>
    <i class="feather-delete"></i>
    <div>feather-delete</div>
  </li>

  <li>
    <i class="feather-disc"></i>
    <div>feather-disc</div>
  </li>

  <li>
    <i class="feather-dollar-sign"></i>
    <div>feather-dollar-sign</div>
  </li>

  <li>
    <i class="feather-download"></i>
    <div>feather-download</div>
  </li>

  <li>
    <i class="feather-download-cloud"></i>
    <div>feather-download-cloud</div>
  </li>

  <li>
    <i class="feather-droplet"></i>
    <div>feather-droplet</div>
  </li>

  <li>
    <i class="feather-edit"></i>
    <div>feather-edit</div>
  </li>

  <li>
    <i class="feather-edit-2"></i>
    <div>feather-edit-2</div>
  </li>

  <li>
    <i class="feather-edit-3"></i>
    <div>feather-edit-3</div>
  </li>

  <li>
    <i class="feather-external-link"></i>
    <div>feather-external-link</div>
  </li>

  <li>
    <i class="feather-eye"></i>
    <div>feather-eye</div>
  </li>

  <li>
    <i class="feather-eye-off"></i>
    <div>feather-eye-off</div>
  </li>

  <li>
    <i class="feather-facebook"></i>
    <div>feather-facebook</div>
  </li>

  <li>
    <i class="feather-fast-forward"></i>
    <div>feather-fast-forward</div>
  </li>

  <li>
    <i class="feather-feather"></i>
    <div>feather-feather</div>
  </li>

  <li>
    <i class="feather-file"></i>
    <div>feather-file</div>
  </li>

  <li>
    <i class="feather-file-minus"></i>
    <div>feather-file-minus</div>
  </li>

  <li>
    <i class="feather-file-plus"></i>
    <div>feather-file-plus</div>
  </li>

  <li>
    <i class="feather-file-text"></i>
    <div>feather-file-text</div>
  </li>

  <li>
    <i class="feather-film"></i>
    <div>feather-film</div>
  </li>

  <li>
    <i class="feather-filter"></i>
    <div>feather-filter</div>
  </li>

  <li>
    <i class="feather-flag"></i>
    <div>feather-flag</div>
  </li>

  <li>
    <i class="feather-folder"></i>
    <div>feather-folder</div>
  </li>

  <li>
    <i class="feather-folder-minus"></i>
    <div>feather-folder-minus</div>
  </li>

  <li>
    <i class="feather-folder-plus"></i>
    <div>feather-folder-plus</div>
  </li>

  <li>
    <i class="feather-gift"></i>
    <div>feather-gift</div>
  </li>

  <li>
    <i class="feather-git-branch"></i>
    <div>feather-git-branch</div>
  </li>

  <li>
    <i class="feather-git-commit"></i>
    <div>feather-git-commit</div>
  </li>

  <li>
    <i class="feather-git-merge"></i>
    <div>feather-git-merge</div>
  </li>

  <li>
    <i class="feather-git-pull-request"></i>
    <div>feather-git-pull-request</div>
  </li>

  <li>
    <i class="feather-github"></i>
    <div>feather-github</div>
  </li>

  <li>
    <i class="feather-gitlab"></i>
    <div>feather-gitlab</div>
  </li>

  <li>
    <i class="feather-globe"></i>
    <div>feather-globe</div>
  </li>

  <li>
    <i class="feather-grid"></i>
    <div>feather-grid</div>
  </li>

  <li>
    <i class="feather-hard-drive"></i>
    <div>feather-hard-drive</div>
  </li>

  <li>
    <i class="feather-hash"></i>
    <div>feather-hash</div>
  </li>

  <li>
    <i class="feather-headphones"></i>
    <div>feather-headphones</div>
  </li>

  <li>
    <i class="feather-heart"></i>
    <div>feather-heart</div>
  </li>

  <li>
    <i class="feather-help-circle"></i>
    <div>feather-help-circle</div>
  </li>

  <li>
    <i class="feather-home"></i>
    <div>feather-home</div>
  </li>

  <li>
    <i class="feather-image"></i>
    <div>feather-image</div>
  </li>

  <li>
    <i class="feather-inbox"></i>
    <div>feather-inbox</div>
  </li>

  <li>
    <i class="feather-info"></i>
    <div>feather-info</div>
  </li>

  <li>
    <i class="feather-instagram"></i>
    <div>feather-instagram</div>
  </li>

  <li>
    <i class="feather-italic"></i>
    <div>feather-italic</div>
  </li>

  <li>
    <i class="feather-layers"></i>
    <div>feather-layers</div>
  </li>

  <li>
    <i class="feather-layout"></i>
    <div>feather-layout</div>
  </li>

  <li>
    <i class="feather-life-buoy"></i>
    <div>feather-life-buoy</div>
  </li>

  <li>
    <i class="feather-link"></i>
    <div>feather-link</div>
  </li>

  <li>
    <i class="feather-link-2"></i>
    <div>feather-link-2</div>
  </li>

  <li>
    <i class="feather-linkedin"></i>
    <div>feather-linkedin</div>
  </li>

  <li>
    <i class="feather-list"></i>
    <div>feather-list</div>
  </li>

  <li>
    <i class="feather-loader"></i>
    <div>feather-loader</div>
  </li>

  <li>
    <i class="feather-lock"></i>
    <div>feather-lock</div>
  </li>

  <li>
    <i class="feather-log-in"></i>
    <div>feather-log-in</div>
  </li>

  <li>
    <i class="feather-log-out"></i>
    <div>feather-log-out</div>
  </li>

  <li>
    <i class="feather-mail"></i>
    <div>feather-mail</div>
  </li>

  <li>
    <i class="feather-map"></i>
    <div>feather-map</div>
  </li>

  <li>
    <i class="feather-map-pin"></i>
    <div>feather-map-pin</div>
  </li>

  <li>
    <i class="feather-maximize"></i>
    <div>feather-maximize</div>
  </li>

  <li>
    <i class="feather-maximize-2"></i>
    <div>feather-maximize-2</div>
  </li>

  <li>
    <i class="feather-menu"></i>
    <div>feather-menu</div>
  </li>

  <li>
    <i class="feather-message-circle"></i>
    <div>feather-message-circle</div>
  </li>

  <li>
    <i class="feather-message-square"></i>
    <div>feather-message-square</div>
  </li>

  <li>
    <i class="feather-mic"></i>
    <div>feather-mic</div>
  </li>

  <li>
    <i class="feather-mic-off"></i>
    <div>feather-mic-off</div>
  </li>

  <li>
    <i class="feather-minimize"></i>
    <div>feather-minimize</div>
  </li>

  <li>
    <i class="feather-minimize-2"></i>
    <div>feather-minimize-2</div>
  </li>

  <li>
    <i class="feather-minus"></i>
    <div>feather-minus</div>
  </li>

  <li>
    <i class="feather-minus-circle"></i>
    <div>feather-minus-circle</div>
  </li>

  <li>
    <i class="feather-minus-square"></i>
    <div>feather-minus-square</div>
  </li>

  <li>
    <i class="feather-monitor"></i>
    <div>feather-monitor</div>
  </li>

  <li>
    <i class="feather-moon"></i>
    <div>feather-moon</div>
  </li>

  <li>
    <i class="feather-more-horizontal"></i>
    <div>feather-more-horizontal</div>
  </li>

  <li>
    <i class="feather-more-vertical"></i>
    <div>feather-more-vertical</div>
  </li>

  <li>
    <i class="feather-move"></i>
    <div>feather-move</div>
  </li>

  <li>
    <i class="feather-music"></i>
    <div>feather-music</div>
  </li>

  <li>
    <i class="feather-navigation"></i>
    <div>feather-navigation</div>
  </li>

  <li>
    <i class="feather-navigation-2"></i>
    <div>feather-navigation-2</div>
  </li>

  <li>
    <i class="feather-octagon"></i>
    <div>feather-octagon</div>
  </li>

  <li>
    <i class="feather-package"></i>
    <div>feather-package</div>
  </li>

  <li>
    <i class="feather-paperclip"></i>
    <div>feather-paperclip</div>
  </li>

  <li>
    <i class="feather-pause"></i>
    <div>feather-pause</div>
  </li>

  <li>
    <i class="feather-pause-circle"></i>
    <div>feather-pause-circle</div>
  </li>

  <li>
    <i class="feather-percent"></i>
    <div>feather-percent</div>
  </li>

  <li>
    <i class="feather-phone"></i>
    <div>feather-phone</div>
  </li>

  <li>
    <i class="feather-phone-call"></i>
    <div>feather-phone-call</div>
  </li>

  <li>
    <i class="feather-phone-forwarded"></i>
    <div>feather-phone-forwarded</div>
  </li>

  <li>
    <i class="feather-phone-incoming"></i>
    <div>feather-phone-incoming</div>
  </li>

  <li>
    <i class="feather-phone-missed"></i>
    <div>feather-phone-missed</div>
  </li>

  <li>
    <i class="feather-phone-off"></i>
    <div>feather-phone-off</div>
  </li>

  <li>
    <i class="feather-phone-outgoing"></i>
    <div>feather-phone-outgoing</div>
  </li>

  <li>
    <i class="feather-pie-chart"></i>
    <div>feather-pie-chart</div>
  </li>

  <li>
    <i class="feather-play"></i>
    <div>feather-play</div>
  </li>

  <li>
    <i class="feather-play-circle"></i>
    <div>feather-play-circle</div>
  </li>

  <li>
    <i class="feather-plus"></i>
    <div>feather-plus</div>
  </li>

  <li>
    <i class="feather-plus-circle"></i>
    <div>feather-plus-circle</div>
  </li>

  <li>
    <i class="feather-plus-square"></i>
    <div>feather-plus-square</div>
  </li>

  <li>
    <i class="feather-pocket"></i>
    <div>feather-pocket</div>
  </li>

  <li>
    <i class="feather-power"></i>
    <div>feather-power</div>
  </li>

  <li>
    <i class="feather-printer"></i>
    <div>feather-printer</div>
  </li>

  <li>
    <i class="feather-radio"></i>
    <div>feather-radio</div>
  </li>

  <li>
    <i class="feather-refresh-ccw"></i>
    <div>feather-refresh-ccw</div>
  </li>

  <li>
    <i class="feather-refresh-cw"></i>
    <div>feather-refresh-cw</div>
  </li>

  <li>
    <i class="feather-repeat"></i>
    <div>feather-repeat</div>
  </li>

  <li>
    <i class="feather-rewind"></i>
    <div>feather-rewind</div>
  </li>

  <li>
    <i class="feather-rotate-ccw"></i>
    <div>feather-rotate-ccw</div>
  </li>

  <li>
    <i class="feather-rotate-cw"></i>
    <div>feather-rotate-cw</div>
  </li>

  <li>
    <i class="feather-rss"></i>
    <div>feather-rss</div>
  </li>

  <li>
    <i class="feather-save"></i>
    <div>feather-save</div>
  </li>

  <li>
    <i class="feather-scissors"></i>
    <div>feather-scissors</div>
  </li>

  <li>
    <i class="feather-search"></i>
    <div>feather-search</div>
  </li>

  <li>
    <i class="feather-send"></i>
    <div>feather-send</div>
  </li>

  <li>
    <i class="feather-server"></i>
    <div>feather-server</div>
  </li>

  <li>
    <i class="feather-settings"></i>
    <div>feather-settings</div>
  </li>

  <li>
    <i class="feather-share"></i>
    <div>feather-share</div>
  </li>

  <li>
    <i class="feather-share-2"></i>
    <div>feather-share-2</div>
  </li>

  <li>
    <i class="feather-shield"></i>
    <div>feather-shield</div>
  </li>

  <li>
    <i class="feather-shield-off"></i>
    <div>feather-shield-off</div>
  </li>

  <li>
    <i class="feather-shopping-bag"></i>
    <div>feather-shopping-bag</div>
  </li>

  <li>
    <i class="feather-shopping-cart"></i>
    <div>feather-shopping-cart</div>
  </li>

  <li>
    <i class="feather-shuffle"></i>
    <div>feather-shuffle</div>
  </li>

  <li>
    <i class="feather-sidebar"></i>
    <div>feather-sidebar</div>
  </li>

  <li>
    <i class="feather-skip-back"></i>
    <div>feather-skip-back</div>
  </li>

  <li>
    <i class="feather-skip-forward"></i>
    <div>feather-skip-forward</div>
  </li>

  <li>
    <i class="feather-slack"></i>
    <div>feather-slack</div>
  </li>

  <li>
    <i class="feather-slash"></i>
    <div>feather-slash</div>
  </li>

  <li>
    <i class="feather-sliders"></i>
    <div>feather-sliders</div>
  </li>

  <li>
    <i class="feather-smartphone"></i>
    <div>feather-smartphone</div>
  </li>

  <li>
    <i class="feather-speaker"></i>
    <div>feather-speaker</div>
  </li>

  <li>
    <i class="feather-square"></i>
    <div>feather-square</div>
  </li>

  <li>
    <i class="feather-star"></i>
    <div>feather-star</div>
  </li>

  <li>
    <i class="feather-stop-circle"></i>
    <div>feather-stop-circle</div>
  </li>

  <li>
    <i class="feather-sun"></i>
    <div>feather-sun</div>
  </li>

  <li>
    <i class="feather-sunrise"></i>
    <div>feather-sunrise</div>
  </li>

  <li>
    <i class="feather-sunset"></i>
    <div>feather-sunset</div>
  </li>

  <li>
    <i class="feather-tablet"></i>
    <div>feather-tablet</div>
  </li>

  <li>
    <i class="feather-tag"></i>
    <div>feather-tag</div>
  </li>

  <li>
    <i class="feather-target"></i>
    <div>feather-target</div>
  </li>

  <li>
    <i class="feather-terminal"></i>
    <div>feather-terminal</div>
  </li>

  <li>
    <i class="feather-thermometer"></i>
    <div>feather-thermometer</div>
  </li>

  <li>
    <i class="feather-thumbs-down"></i>
    <div>feather-thumbs-down</div>
  </li>

  <li>
    <i class="feather-thumbs-up"></i>
    <div>feather-thumbs-up</div>
  </li>

  <li>
    <i class="feather-toggle-left"></i>
    <div>feather-toggle-left</div>
  </li>

  <li>
    <i class="feather-toggle-right"></i>
    <div>feather-toggle-right</div>
  </li>

  <li>
    <i class="feather-trash"></i>
    <div>feather-trash</div>
  </li>

  <li>
    <i class="feather-trash-2"></i>
    <div>feather-trash-2</div>
  </li>

  <li>
    <i class="feather-trending-down"></i>
    <div>feather-trending-down</div>
  </li>

  <li>
    <i class="feather-trending-up"></i>
    <div>feather-trending-up</div>
  </li>

  <li>
    <i class="feather-triangle"></i>
    <div>feather-triangle</div>
  </li>

  <li>
    <i class="feather-truck"></i>
    <div>feather-truck</div>
  </li>

  <li>
    <i class="feather-tv"></i>
    <div>feather-tv</div>
  </li>

  <li>
    <i class="feather-twitter"></i>
    <div>feather-twitter</div>
  </li>

  <li>
    <i class="feather-type"></i>
    <div>feather-type</div>
  </li>

  <li>
    <i class="feather-umbrella"></i>
    <div>feather-umbrella</div>
  </li>

  <li>
    <i class="feather-underline"></i>
    <div>feather-underline</div>
  </li>

  <li>
    <i class="feather-unlock"></i>
    <div>feather-unlock</div>
  </li>

  <li>
    <i class="feather-upload"></i>
    <div>feather-upload</div>
  </li>

  <li>
    <i class="feather-upload-cloud"></i>
    <div>feather-upload-cloud</div>
  </li>

  <li>
    <i class="feather-user"></i>
    <div>feather-user</div>
  </li>

  <li>
    <i class="feather-user-check"></i>
    <div>feather-user-check</div>
  </li>

  <li>
    <i class="feather-user-minus"></i>
    <div>feather-user-minus</div>
  </li>

  <li>
    <i class="feather-user-plus"></i>
    <div>feather-user-plus</div>
  </li>

  <li>
    <i class="feather-user-x"></i>
    <div>feather-user-x</div>
  </li>

  <li>
    <i class="feather-users"></i>
    <div>feather-users</div>
  </li>

  <li>
    <i class="feather-video"></i>
    <div>feather-video</div>
  </li>

  <li>
    <i class="feather-video-off"></i>
    <div>feather-video-off</div>
  </li>

  <li>
    <i class="feather-voicemail"></i>
    <div>feather-voicemail</div>
  </li>

  <li>
    <i class="feather-volume"></i>
    <div>feather-volume</div>
  </li>

  <li>
    <i class="feather-volume-1"></i>
    <div>feather-volume-1</div>
  </li>

  <li>
    <i class="feather-volume-2"></i>
    <div>feather-volume-2</div>
  </li>

  <li>
    <i class="feather-volume-x"></i>
    <div>feather-volume-x</div>
  </li>

  <li>
    <i class="feather-watch"></i>
    <div>feather-watch</div>
  </li>

  <li>
    <i class="feather-wifi"></i>
    <div>feather-wifi</div>
  </li>

  <li>
    <i class="feather-wifi-off"></i>
    <div>feather-wifi-off</div>
  </li>

  <li>
    <i class="feather-wind"></i>
    <div>feather-wind</div>
  </li>

  <li>
    <i class="feather-x"></i>
    <div>feather-x</div>
  </li>

  <li>
    <i class="feather-x-circle"></i>
    <div>feather-x-circle</div>
  </li>

  <li>
    <i class="feather-x-square"></i>
    <div>feather-x-square</div>
  </li>

  <li>
    <i class="feather-youtube"></i>
    <div>feather-youtube</div>
  </li>

  <li>
    <i class="feather-zap"></i>
    <div>feather-zap</div>
  </li>

  <li>
    <i class="feather-zap-off"></i>
    <div>feather-zap-off</div>
  </li>

  <li>
    <i class="feather-zoom-in"></i>
    <div>feather-zoom-in</div>
  </li>

  <li>
    <i class="feather-zoom-out"></i>
    <div>feather-zoom-out</div>
  </li>
</ul>
