<h3>Inputs</h3>

<div class="row md-3">
    <div class="col">
        <h6>Default state</h6>
        <input type="text" placeholder="Placeholder text">
    </div>
    <div class="col">
        <h6>Focus state</h6>
        <input class="focus" type="text" placeholder="Placeholder text">
    </div>
    <div class="col">
        <h6>Disabled state</h6>
        <input type="text" placeholder="Placeholder text" disabled>
    </div>
</div>

<h6>Textarea</h6>
<textarea rows="5" placeholder="Add your comment here"></textarea>

<div class="row md-2">
    <div class="col">
        <h6>Select field</h6>
        <div class="select-field">
            <select class="select-box">
                <option value="">Select an option</option>    		
                <option value="opt-1">Option 1</option>
                <option value="opt-2">Option 2</option>
                <option value="opt-3">Option 3</option>
            </select>
            <svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 1792 1792" width="16"><path d="M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z"/></svg>
        </div>
    </div>
    <div class="col">
        <h6>Checkbox & radio</h6>
        <label class="checkbox d-inline-block">
            <input type="checkbox">
            <span class="checkmark"></span>
            Checkbox &nbsp;
        </label>
        <label class="checkbox radio d-inline-block">
            <input type="radio">
            <span class="checkmark"></span>
            Radio button
        </label>
    </div>
</div>



