<h3>Lists</h3>

<div class="row">
    <div class="col">
        <p><small>Unordered list</small></p>
        <ul>
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
            <li>List item 4</li>
            <li>List item 5</li>
        </ul>
    </div>
    <div class="col">
        <p><small>Ordered list</small></p>
        <ol>
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
            <li>List item 4</li>
            <li>List item 5</li>
        </ol>
    </div>
</div>