<h3>Lists</h3>

<div class="row md-4 sm-2 xs-1">
    <div class="col">
        <h6>Unordered list</h6>
        <ul>
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
            <li>List item 4</li>
            <li>List item 5</li>
        </ul>
    </div>
    <div class="col">
        <h6>Ordered list</h6>
        <ol>
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
            <li>List item 4</li>
            <li>List item 5</li>
        </ol>
    </div>
    <div class="col">
        <h6>Check list</h6>
        <ul class="check-list">
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
            <li>List item 4</li>
            <li>List item 5</li>
        </ul>
    </div>
    <div class="col">
        <h6>Number list</h6>
        <ol class="number-list">
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
            <li>List item 4</li>
            <li>List item 5</li>
        </ol>
    </div>
</div>