/* BUTTONS
=========================================================================================*/

// Basic button
button {
    outline: none;
    border: 0;
}

// Theme button
.btn {
    background: $accent;
    color: $white;
    font-weight: bold;
    padding: (($bottom-spacing / 4) * 3)  (($bottom-spacing / 4) * 5);
    border: 0;
    box-shadow: none;
    font-size: $base-font-size * 1.1;
    border-radius: $border-radius / 2;
    margin-bottom: $bottom-spacing;
    cursor: pointer;
    &:not(.disabled):hover, &.hover {
        background: $accent-hover;
        transition: background-color 0.3s;
    }
    &:disabled, &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}