/*	COLOR SWATCHES
=========================================================================================*/

// Swatches grid
.color-swatches {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: $bottom-spacing;
    .color-item {
        margin-bottom: $bottom-spacing;
        figure {
            height: 150px;
            border-radius: $border-radius;
            line-height: 150px;
            text-align: center;
        }
        p {
            margin-bottom: 0;
        }
    }
}