/*	COLOR SWATCHES
=========================================================================================*/

// Swatch
.color-item {
    margin-bottom: $spacer;
    figure {
        height: 150px;
        border-radius: $border-radius;
        line-height: 150px;
        text-align: center;
        @media (max-width: $breakpoint-sm) {
            height: 200px;
            line-height: 200px;
        }
        @media (max-width: $breakpoint-xs) {
            height: 100px;
            line-height: 100px;
        }
    }
    p {
        margin-bottom: 0;
    }
}