/*	COLUMNS LAYOUT
=========================================================================================*/

// Generate MD columns
@for $i from 1 through 6 {
    @media (min-width: $breakpoint-sm) {
        .md-#{$i} {
            column-count: $i;
        }
    }
}

// Generate SM columns
@for $i from 1 through 6 {
    @media (max-width: $breakpoint-sm) {
        .sm-#{$i} {
            column-count: $i;
        }
    }
}

// Generate XS columns
@for $i from 1 through 6 {
    @media (max-width: $breakpoint-xs) {
        .xs-#{$i} {
            column-count: $i;
        }
    }
}

// Styleguide columns
.row-columns {
    .col {
        height: 300px;
        @media (max-width: $breakpoint-xs) {
            height: 300px;
            &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                display: none;
            }
        }
    }
}