/*	THE CONTENT
=========================================================================================*/

.container {
    max-width: 680px;
    margin: 0 auto;
    padding: 0 $bottom-spacing;
}

.row {
    display: grid;
    grid-auto-flow: column;
    gap: $bottom-spacing;
}

.col {
    width: 100%;
}
