/*	HEADER
=========================================================================================*/

// Header base
header {
    background-color: $dark;
    background-image: url('../img/header_bg.webp');
    background-size: cover;
    background-position: center;
    min-height: 550px;
    h1, h2, h3 {
        color: $white;
    }
    @media (max-width: $breakpoint-sm) {
        min-height: 450px;
    }
}