/*	HEADER
=========================================================================================*/

// Header base
header {
    background-color: $dark;
    background-image: url('../img/header_bg.webp');
    background-size: cover;
    background-position: center;
    filter: saturate(0);
    min-height: 550px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    h1 {
        color: $white;
    }
}

// Branding logo
.site-logo {
    position: absolute;
    top: $bottom-spacing;
    img {
        width: 80px;
        height: auto;
        opacity: 0.9;
    }
    &:hover {
        img {
            opacity: 1;
            transition: opacity 0.3s;
        }
    }
}