/*	HEADER
=========================================================================================*/

header {
    background-color: $dark;
    background-image: url('../img/header_bg.webp');
    background-size: cover;
    background-position: center;
    filter: saturate(0);
    min-height: 400px;
    display: flex;
    align-items: center;
    h1 {
        color: $white;
    }
}