/*	IMAGE & LIGHTBOX
=========================================================================================*/

// Image
img {
    display: block;
    width: 100%;
    margin-bottom: $spacer;
    border-radius: $border-radius;
    box-shadow: 0 0 80px rgba($dark, 0.2);
    &.allow-lightbox {
        cursor: pointer;
    }
}

// Lightbox
.lightbox {
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba($dark, 0.85);
    z-index: 1000;
    > div {
        padding: 5%;
    }
    .lb-close, .lb-next, .lb-prev {
        position: absolute;
        background: transparent;
        width: 40px;
        height: 40px;
        z-index: 1002;
        cursor: pointer;
        font-size: 28px;
        color: rgba($white, 0.8);
        &:hover {
            color: $white;
            transition: color 0.2s;
        }
    }
    .lb-close {
        right: 15px;
        top: 15px;
        font-size: 24px;
    }
    .lb-next {
        right: 15px;
        display: none;
    }
    .lb-prev {
        left: 15px;
        display: none;
    }
    img {
        max-height: 90vh;
    }
    @media (max-width: $breakpoint-sm) {
        display: none !important;
    }
}

.lightbox-opened {
    @media (min-width: $breakpoint-sm) {
        overflow-y: hidden;
    }
}

// Exclude from lightbpx
.no-lightbox {
    cursor: default;
    pointer-events: none;
}