/*	NAVBAR
=========================================================================================*/

// Navigation bar
.navbar {
    padding: 15px 0;
    margin-bottom: 50px;
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        li {
            display: inline-block;
            margin-bottom: 0 !important;
            padding-left: 10px;
            a {
                color: $white;
                text-decoration: none;
                opacity: 0.6;
                &:hover {
                    opacity: 1;
                    transition: opacity 0.25s;
                }
            }
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// Branding logo
.site-logo {
    img {
        width: 82px;
        height: auto;
        opacity: 0.9;
        margin: 0;
    }
    &:hover {
        img {
            opacity: 1;
            transition: opacity 0.3s;
        }
    }
}