// Colors
$accent: #2AAC7B;
$dark: #171010;
$light: #F6F5F5;
$white: #ffffff;

$accent-hover: darken($accent, 5%);

// Code background
$codebg: $light;

// Border radius
$border-radius: 8px;

// Breakpoints
$breakpoint-sm: 768px;
$breakpoint-xs: 450px;
$breakpoint-xxs: 320px;

// Typography
$base-font-size: 16px;

// Headings
$font-size:(
    h1 : 72px,
    h2 : 48px,
    h3 : 36px,
    h4 : 32px,
    h5 : 24px,
    h6 : 20px
);

// Spacing
$bottom-spacing: 20px;
