<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

  <head>
    <!-- Metas -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Title -->
    <title>{{ site.title }}</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body>

    <!-- Content -->
    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>

    <!-- Javascripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="assets/js/main.js"></script>

  </body>
</html>
