<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

  <head>

    <!-- Metas -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Title -->
    <title>{{ site.title }}</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="assets/css/main.css" />

    <!-- Favicons -->
    {% include favicons.html %}

  </head>
  <body>

    {% include loader.html %}

    <!-- Header -->
    {% include header.html %}

    <!-- Content -->
    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>

    <!-- Lightbox -->
    {% include lightbox.html %}

    <!-- Footer -->
    {% include footer.html %}

    <!-- Javascripts -->
    {% include scripts.html %}

  </body>
</html>
