<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

  <head>
    <!-- Metas -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Title -->
    <title>{{ site.title }}</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body>

    {% include loader.html %}

    <!-- Header -->
    {% include header.html %}

    <!-- Content -->
    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>

    <!-- Lightbox -->
    <div id="lightbox" class="lightbox">
      <button class="close" type="button">
          <svg class="close" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
      </button>
      <div>
          <img src="/assets/img/lightbox.jpg">
      </div>
    </div>

    <!-- Javascripts -->
    <script src="assets/js/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="assets/js/copycode.js"></script>
    <script src="assets/js/tooltip.js"></script>
    <script src="assets/js/main.js"></script>

  </body>
</html>
